/** 
 * theming styles
 * 
 */

#header {
    /* Reset the indents of django-flat-theme
      (need to restore 40px on branding+user-tools instead) */
    padding-left: 0;
    padding-right: 0;
}

#header #branding h1 {
    margin: 0;
    padding: 5px 10px;
    text-indent: -9999px;
    background: transparent url(../images/django.png) 10px 5px no-repeat;
    height: 31px;
    width: 93px;
}

#header #user-tools {
    padding-right: 40px;
}

#bookmark-form {
    clear: both;
}

div.breadcrumbs {
    clear: both;
    display: block;
    padding: 10px 40px;
    border: 0;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    color: #333;
    font-size: 12px;
}

div.breadcrumbs a {
    display: inline;
    color: #333;
}

div.breadcrumbs a:hover {
    color: #000;
}
